/* Tailwind CSS */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/*
    Custom Theme Overrides for Tailwind
    This is where you can define custom colors, fonts, and other styles that will be used throughout your application.
*/
@theme {
    /* custom colors */
    --color-primary-dark: #030708;
    --color-primary-gray: #2f2e2c;
    --color-primary-yellow: #faa91a;
    --color-primary-ivory: #f3e7d3;
    --color-primary-orange: #e25d1d;
    --color-primary-blue: #1e90ff;

    /* custom fonts */
    --font-geist-sans: "Geist Sans", sans-serif;
    --font-geist-mono: "Geist Mono", monospace;
    --font-smooch-sans: "Smooch Sans", sans-serif;
}

/* Bootstrap Icons */
@import "bootstrap-icons/font/bootstrap-icons";

/* Utilities */
@import "./utilities.css";

/* Fonts */
@import "./fonts.css";
